version: "3.9"

services:

  backend:
    build: ./backend
    container_name: flask-backend
    ports:
      - "5001:5000"
    restart: always

  frontend:
    build: ./frontend
    container_name: react-frontend
    ports:
      - "80:3000"
    depends_on:
      - backend
    restart: always